html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(230, 230, 230);
}

#root {
    width: 100%;
    height: 100%;
}

#sidepanel {
    width: 20%;
    height: 100%;
    background-color: #f5f5f5;
    border-right: 1px solid #e0e0e0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

#sidepanel.open {
    transform: translateX(0);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

#sidepanel-header {
    padding: 16px;
    background-color: #e3e3e3;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#main-content {
    width: calc(100% - 70px);
    box-sizing: border-box;
    flex: 1;
    margin-left: 70px;
    padding: 16px;
    transition: margin-left 0.3s ease;
}

#main-content.collapsed {
    width: calc(100% - 410px);
    margin-left: 410px;
}

#sidepanel-btn {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 10;
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
}

#sidepanel-close-btn, #sidepanel-btn {
    background-color: #a5a5a5;
    color: white;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
}

.side-section {
    margin-bottom: 10px;
}

.side-drawer {
    background-color: #f0f0f0;
    border-bottom: #8a8a8a65 1px solid;
    box-shadow: 0 2px 2px #aaaaaa33;
}
.side-drawer button {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 5%;
    border: none;
}
.side-drawer button:hover {
    background-color: #eaeaea;
}
.side-drawer button:active {
    background-color: #dfdfdf;
}

.entity-item {
    padding: 5%;
}
.entity-item input {
    transform: scale(1.5);
}
.entity-item label {
    font-size: 0.9rem;
    margin-left: 10px;
}

#selected-entities-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

div.selected-entity {
    min-width: 20vw;
    max-width: 30vw;
    min-height: 20vw;
    background-color: #f7f7f7;
    padding: 2%;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    box-shadow: 0 0px 10px #78787833;
}
div.selected-entity button {
    width: 100%;
    padding: max(5%, 0.5rem);
    background-color: #ffffff;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    box-shadow: 0 2px 5px #cecece33;
}
div.selected-entity button:hover {
    background-color: #fafafa;
}
div.selected-entity input {
    width: 100%;
    min-height: 1.7rem;
    border: none;
    border-bottom: 1px solid #8a8a8a;
}

div.agent-container {
    --direction: column; /* Default direction */
    display: flex;
    flex-direction: var(--direction);
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

.conditional-style-red {
    color: red;
}

button.conditional-style-disabled {
    background-color: #e0e0e0;
    color: #a0a0a0;
    cursor: not-allowed;
    pointer-events: none;
}