body {
    background-color: darkslategrey;
}

div {
    padding: 5px;
}

label {
    margin: 5px;
    padding: 5px;
}

input {
    margin: 10px;
}

.root {
    font-family: Century Gothic;
    display: inline-flex;
}

.global {
    border: 3px solid white;
    padding: 15px;
    background-color: tan;
    margin: 10px;
    margin-right: 30px;
    color: white;
}

button {
    font-family: Century Gothic;
    margin: 7px;
}

.entities {
    max-height: 700px;
    overflow-y: scroll;
    text-align: center;
}

.entity {
    border: 2px solid white;
    margin: 5px;
    text-align: left;
    border-radius: 20px;
    background-color: steelblue;
    color: white;
}

.entity-name {
    padding: 30px;
}

.entity-element {
    margin: 5px;
    font-family: Century Gothic;
}

.interfaces {
    border: 3px solid white;
    max-width: 1100px;
    max-height: 900px;
    overflow-y: scroll;
    margin-left: 10px;
    text-align: center;
    padding: 15px;
    background-color: lightslategrey;
    color: white;
}

.interface {
    border: 3px solid white;
    border-radius: 20px;
    width: 300px;
    margin: 2px;
    background-color: steelblue;
    color: white;
    padding: 15px;
}

.line {
    height: 350px;
    display: inline-flex;
}