div {
    padding: 5px;
}

label {
    margin: 5px;
}

.root {
    font-family: Helvetica, serif;
    display: inline-flex;
}

.global {
    border: 3px solid black;
}

.entities {
    max-height: 700px;
    overflow-y: scroll;
    text-align: center;
}

.entity {
    border: 3px solid black;
    margin: 5px;
    text-align: left;
}

.entity-name {
    padding: 30px;
}

.entity-element {
    margin: 5px;
}

.interfaces {
    border: 3px solid black;
    max-width: 1100px;
    max-height: 900px;
    overflow-y: scroll;
    margin-left: 10px;
    text-align: center;
}

.interface {
    border: 3px solid black;
    width: 300px;
    margin: 2px;
}

.line {
    height: 350px;
    display: inline-flex;
}