button {
    margin: 20px;
}

div {
    padding: 10px;
}

.entity-name {
    padding: 30px;
}

.entity-element {
    margin: 5px;
}

.entity {
    border: 3px solid black;
    margin: 5px;
    text-align: left;
}
.entities {
    max-height: 700px;
    overflow-y: scroll;
    text-align: center;
}

.global {
    border: 3px solid black;
    height: fit-content;
    width: fit-content;
}

.root {
    font-family: Helvetica, serif;
    display: inline-flex;
}

.interfaces {
    border: 3px solid black;
    max-height: 700px;
    width: 1100px;
    margin-left: 10px;
    text-align: center;
}

.extended-interfaces {
    height: fit-content;
    width: fit-content;
    display: inline-flex;
}

.interface {
    border: 3px solid black;
    height: fit-content;
    width: fit-content;
    margin-left: 3px;
    margin-right: 3px;
}